<h1><%= @student.name %></h1>

<% if @student.image.present? %>
<%= image_tag @student.image, :class => 'feature'%>
<% else %>
<%= user_avatar(@student.name, shape: :rect, size:96) %>
<% end %>


<ul>
    <li>Name: <%= @student.name %></li>
    <li>Email: <%= @student.email %></li>
    
    <li>Enrolments:
        <% @student.enrolments.each do |enrolment| %>
        <li><%= enrolment.course.name %></li>
        <li><%= enrolment.lecturer.name unless enrolment.lecturer.nil? %></li>
        <% end %>
    </li>
    <% if (@current_student.present? && @current_student.name == @student) || @current_lecturer.try(:admin?) %>
        <button><%= link_to "Edit", edit_student_path %></button>
        <%= button_to "Delete Student", @student, :method =>"delete", :data=> {:confirm => "Are you sure you want to delete #{@student.name}?"} %>
    <% end %>
</ul>