<% if @lecturer.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= pluralize(@lecturer.errors.count, "error") %> prohibited this lecturer from being saved:</h5>
    <ul>
      <% @lecturer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @lecturer do |f| %>
  <div class="form-group mb-3">
    <%= f.label :name, "Name", class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :email, "Email", class: 'form-label' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :image, class: 'form-label' %>
    <%= f.url_field :image, placeholder: "Enter image URL or leave blank for auto-avatar", class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :password, class: 'form-label' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :password_confirmation, class: 'form-label' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <%= f.submit "Submit", class: 'btn btn-primary btn-lg' %>
<% end %>