<!DOCTYPE html>
<html>
  <head>
    <title>StudyOnDemand</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <nav>
    <%= link_to "Home", pages_home_path %>
      |

    <% if @current_student.present?%>
      <%= link_to "Sign Out", login_path, :method => 'delete' %>
        |
    <% else %>
        <%= link_to "Sign In", login_path %>
        |
        <%= link_to "Sign Up for Student", new_student_path %>
        |
    <% end %>
      
      <%= link_to "All Students", students_path %>
      |
      <%= link_to "New Student", new_student_path %>
      |
      <%= link_to "All Lecturers", lecturers_path %>
      |
      <%= link_to "New Lecturer", new_lecturer_path %>
      |
      <%= link_to "All Courses", courses_path %>
      |
      <%= link_to "New Course", new_course_path %>
    </nav>
     <%= yield %>
  </div>
  </body>
</html>
